<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Invader</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/library.css">
</head>
<body>
  <nav class="mainMenu">
    <button class='test' onclick='location.href="/"'>Create Icons</button>
    <p class="logMessage"></p>
  </nav>
  <div class="library__container">
    <ul class="library__artworksList"></ul>
  </div>
  <!-- <script src="../js/saveArtworks.js"></script> -->
  <script src="../library.js"></script>
</body>
</html>
